header {
    display: flex;
    justify-content: space-between;
    background-color:#a4b0be;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    
}

nav {
    text-align: right;
}


a {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: "Fira Code";
    font-weight: 500;
    margin-right: 30px;
}

a:hover::before{
    background: #ff4d4d;
  }

/* o seletor a::before é um pseudo-elemento e foi utilizado para criar um conteudo antes da tag a, assim como poderia ter sido usado a::after */
a::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #798cff;
    margin-right: 10px;
}

#logo {
    width: 60px;
    height: 60px;
}

#button {
    display: inline-block;
    background-color:#798cff;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000;
}

#button:hover {
    background-color: #ff4d4d;
    border-radius: 5px;
    box-shadow: none;
    transition: 300ms;
    transform: scale(1.1);
}

