.sobre{
    background-color: #2c2b2b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}

.sobre__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre__texto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre__titulo{
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
}

.sobre__cidade {
    font-size: 20px;
    color: var(--white);
    font-weight: 500;
}

.sobre__descricao {
    font-size: 18px;
    line-height: 32px;
    color: var(--gray);
    width: 530px;
}

.sobre-img {
    width: 370px;
    border-radius: 5rem;
}

.aboutme__contact {
    display: flex;
}

.aboutme__social-media {
    margin-left: 2rem;
}

.aboutme__social-media:hover{
    transform: scale(1.08);
}

.aboutme__social-media:first-child{
    margin-left: 0;
}

.aboutme__button {
    display: flex;
    margin-top: 2rem;
}

.aboutme__link-cirriculum, .aboutme__link-mail {
    padding: 1rem 2rem;
    color: var(--white);
    width: 6.25rem;
}

.aboutme__link-cirriculum{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-image: linear-gradient(to right, #D24074, #6518B4) 1;
    transition: transform 100ms linear;
}

.aboutme__link-cirriculum:hover{
    background: linear-gradient(to right, #D24074, #6518B4);
    transform: scale(1.05);
}

.aboutme__link-mail {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-image: linear-gradient(to right, #9358F7, #10D7E2) 1;
    transition: transform 100ms linear;
}

.aboutme__link-mail:hover{
    background: linear-gradient(to right, #9358F7, #10D7E2);
    transform: scale(1.05);
}

.aboutme__link-mail {
    margin-left: 2rem;
}