.footer {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: #22201F;
}

.footer__dev {
    font-size: 16px;
    font-weight: 700;
    color: var(--blue);
}

.footer__credits {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    margin-right: 10px;
}

.footer__backtop{
    position: relative;
    right: -600px;
    color: white;
}