.header{
    background-color: #22201F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}

.header__intro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header__intro-hello{
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
}

.header__intro-name{
    font-size: 64px;
    font-weight: 600;
    color: var(--blue);
}

.header__intro-work {
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
}

.header__intro-links {
    margin-top: 3rem;
    display: flex;
}

.header__intro-github{
    margin-left: 2rem;
}

.header__intro-linkedin, .header__intro-github {
    padding: 1rem 2rem;
    color: var(--white);
}

.header__intro-linkedin{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-image: linear-gradient(to right, #9358F7, #10D7E2) 1;
}

.header__intro-linkedin:hover{
    background: linear-gradient(to right, #9358F7, #10D7E2);
}

.header__intro-github{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-image: linear-gradient(to right, #D24074, #6518B4) 1;
}

.header__intro-github:hover{
    background: linear-gradient(to right, #D24074, #6518B4);
}

.btn-icon {
    margin-right: 10px;
}

.icon-social{
    width: 24px;
}

.header__img {
    width: 600px;
}