.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22201F;
    padding: 2rem;
}

.navbar__menu{
    display: none;
}

.navbar__logotype {
    width: 60px;
    margin-left: 12rem;
}

.navbar__links{
    display: flex;
    color: var(--white);
}

.navbar__links a{
    margin-left: 5rem;
}

.navbar__links a:hover{
    color: var(--blue);
}

.navbar__links a:first-child {
    margin-left: 0;
}