.main-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: #798cff;
    text-shadow: 4px 2px 0 #000;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}

/* o -second é uma variação do componente, como se fosse uma subclasse do titulo. Assim podemos herdar as características do titulo e adicionar novas com a subclasse
que nada mais é do que uma variação do componente que já existe */