.main-action {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: "Fira Code";
    font-weight: 500;
    margin-right: 30px;
}

.main-action:hover::before{
    background: #ff4d4d;
  }

/* o seletor a::before é um pseudo-elemento e foi utilizado para criar um conteudo antes da tag a, assim como poderia ter sido usado a::after */
.main-action::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #798cff;
    margin-right: 10px;
}