@media (max-width: 768px){
    .project__wrapper{
        display: flex;
        flex-direction: column;
    }
    
    .project__title{
        margin: 6rem 0;
    }

    .project__img{
        width: 80%;
    }

    .project__name{
        font-size: 24px;
    }

    .project__card{
        align-items: center;
        text-align: center;
    }
    
    .project__description{
        width: 350px;
    }
}