@media (max-width: 768px){
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar__logotype{
        display: none;
    }

    .navbar__menu {
        display: block;
        align-self: flex-start;
    }

    .navbar__menu-hamburguer {
        width: 50px;
    }

    .navbar__active {
        position: absolute;
        left: 0;
        top: 120px;
    }

    .navbar__links {
        position: fixed;
        right: -120%;
        top: 120px;
        padding: 2rem 0;
        background-color: #22201f;
        transition: 0.3s linear;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .navbar__links a {
        margin-left: 0;
        color: var(--white);
    }
}