@media (max-width: 768px){
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar__logotype{
        display: none;
    }

    .navbar__menu {
        display: block;
        align-self: flex-start;
    }

    .navbar__menu-hamburguer {
        width: 40px;
    }

    .navbar__active {
       transform: translateX(0);
    }

    .wrap-nav {
        transform: translateX(-100%);
    }

    .navbar__links {
        position: absolute;
        top: 120px;
        width: 100%;
        transition: transform 200ms linear;
        padding: 2rem 0;
        background-color: #22201f;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin-right: 0;
    }

    .navbar__links a {
        margin-left: 0;
        color: var(--white);
    }
}