@media (max-width: 768px) {
    .sobre{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .sobre-img{
        width: 300px;
    }

    .sobre__titulo {
        font-size: 20px;
        font-weight: 600;
        color: var(--white);
        text-align: center;
    }

    .sobre__cidade {
        font-size: 20px;
        color: var(--white);
        font-weight: 500;
        text-align: center;
    }

    .sobre__descricao{
        font-size: 18px;
        line-height: 32px;
        color: var(--gray);
        width: 350px;
        align-self: center;
    }

    .aboutme__contact{
        justify-content: center;
    }
}